In [9]:
#pot products

In [25]:
def random_date(in_start, in_end):
    from random import randrange
    from datetime import timedelta
    from dateutil import parser as p      
    start=p.parse(in_start)
    end=p.parse(in_end)  
    delta_days = (end - start).days
    random_days = randrange(delta_days)
    return (start + timedelta(days=random_days)).strftime('%Y/%m/%d')

#testing
random_date('2017/03/23','2017/07/02')

'2017/04/07'

In [36]:
#from dateutil import parser as p
from dateutil import parser as p
start=p.parse('04-03-2018 1:23pm')
start

datetime.datetime(2018, 4, 3, 13, 23)

In [39]:
start.year

2018

In [43]:
start.weekday() # 0:Mon,1:Tues, 2: Wed .....

1

https://docs.python.org/2/library/datetime.html

In [17]:
def random_row(in_DF):
    from random import randrange
    import pandas as pd
    return in_DF.loc[randrange(len(in_DF))]

#testing
#import pandas as pd
#testDF=pd.DataFrame({'col1':['hat','mat','pat'],'col2':[10,23,72],'col3':['Y','N','Y']})
#random_row(testDF)

In [18]:
def add_log_row(mylogDF,mypotDF,end_date):
    import pandas as pd

    last_log_date=mylogDF['date'].iloc[len(logDF)-1]

    app_rowD=dict(random_row(mypotDF))

    appDF=pd.DataFrame(
        {'date':[random_date(last_log_date,end_date)],
         'prod_id':[app_rowD['prod_id']],
         'prod_desc':[app_rowD['prod_desc']],
         'cost':[app_rowD['cost']]})

    
    return mylogDF.append(appDF)

#testing
#logDF=pd.DataFrame({'date':['2017/03/02'],'prod_id':['111'],'prod_desc':['cheese'],'cost':[100]})
#potDF=pd.DataFrame({'prod_id':[123,344,345],
#                    'prod_desc':['washing powder','baked beans','hair gel'],
#                    'cost':[100,150,50]})
#logDF=add_log_row(logDF,potDF,'2017/04/02')
#logDF

In [19]:
import pandas as pd

#intialise log dataframe
logDF=pd.DataFrame({'date':['2017/03/02'],'prod_id':['111'],'prod_desc':['cheese'],'cost':[100]})

#create potential products dataframe
potDF=pd.DataFrame({'prod_id':[123,344,345],
                    'prod_desc':['washing powder','baked beans','hair gel'],
                    'cost':[100,150,50]})

for i in range(0,20):   
    logDF=add_log_row(logDF,potDF,'2017/07/02')

In [20]:
potDF

   cost       prod_desc  prod_id
0   100  washing powder      123
1   150     baked beans      344
2    50        hair gel      345

In [21]:
logDF

   cost        date       prod_desc prod_id
0   100  2017/03/02          cheese     111
0   100  2017/06/10  washing powder     123
0   150  2017/06/14     baked beans     344
0   100  2017/06/26  washing powder     123
0    50  2017/06/27        hair gel     345
0    50  2017/07/01        hair gel     345
0   150  2017/07/01     baked beans     344
0   150  2017/07/01     baked beans     344
0   100  2017/07/01  washing powder     123
0   150  2017/07/01     baked beans     344
0    50  2017/07/01        hair gel     345
0    50  2017/07/01        hair gel     345
0   100  2017/07/01  washing powder     123
0   100  2017/07/01  washing powder     123
0    50  2017/07/01        hair gel     345
0   150  2017/07/01     baked beans     344
0   150  2017/07/01     baked beans     344
0   100  2017/07/01  washing powder     123
0    50  2017/07/01        hair gel     345
0    50  2017/07/01        hair gel     345
0    50  2017/07/01        hair gel     345

In [1]:
from dateutil import parser as p

In [11]:
p.parse('2017-12-11')

datetime.datetime(2017, 12, 11, 0, 0)