In [1]:
#import numpy as pandas is based on numpy arrays and we want to use some of this library's functions
import numpy as np

#import pandas to read csv excel and other file types as dataframes
import pandas as pd

# Read in data set and clean upÂ¶

In [2]:
#read in excel sheet using pandas (this assumes in same folder as this note book, otherwise specify full path)
myDF=pd.read_excel('Online Retail.xlsx')
newDF=myDF[myDF['Quantity']>0].dropna()  # only include row with positive quantities and drop rows with missing data
newDF['CustomerID']=newDF['CustomerID'].apply(lambda x:str('{:.0f}'.format(x))) # fix customer ID
newDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      397924 non-null object
StockCode      397924 non-null object
Description    397924 non-null object
Quantity       397924 non-null int64
InvoiceDate    397924 non-null datetime64[ns]
UnitPrice      397924 non-null float64
CustomerID     397924 non-null object
Country        397924 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.3+ MB

#  Create time dimension (from pandas time data type)
#### useful blog
#### https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html

In [50]:
# just accept it - switching off a chained assigment warning
pd.set_option('chained_assignment', None)

newDF['Year']=newDF['InvoiceDate']\
    .apply(lambda x: '{}'.format(x.year))

newDF['Month']=newDF['InvoiceDate']\
    .apply(lambda x: '{:02}'.format(x.month))
    
newDF['YearMonth']= newDF['Year']+newDF['Month']

newDF.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Year,Month,YearMonth
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,2011,12,201112
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,2011,12,201112
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,2011,12,201112
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,2011,12,201112
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,2011,12,201112

# Native python dates and times
### https://docs.python.org/3/library/datetime.html
### .date, .time, .datetime, .timedelta

In [3]:
from datetime import datetime,date,time,timedelta

print(datetime(year=2015, month=7, day=4))

print(date(year=2015, month=7, day=4))

print(time(hour=12,minute=56,second=10))

print(date.today())

print(datetime.today())

2015-07-04 00:00:00
2015-07-04
12:56:10
2018-04-19
2018-04-19 14:40:11.988282

In [4]:
#t=datetime(year=2015, month=7, day=4)
from dateutil import parser as p
t=p.parse('2015/04/24 10:5:00pm')
dt=timedelta(hours=5)
r=t+dt
print(t)

print(dt)
print(r)

2015-04-24 22:05:00
5:00:00
2015-04-25 03:05:00

In [8]:
dt

datetime.timedelta(0, 18000)

In [20]:
t.year

2015

In [21]:
# 0 is Monday 6 is Sunday
t.weekday()

5

In [15]:
from dateutil import parser
date = parser.parse("4th of July, 2015 12:00:01am")
date

datetime.datetime(2015, 7, 4, 0, 0, 1)

## formating time
### https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [3]:
date.strftime('%A')

'Saturday'

In [23]:
t.strftime("%d/%m/%y")

'04/07/15'

In [22]:
t.strftime("%A %d. %B %Y")

'Saturday 04. July 2015'

## Working with Time in Pandas

In [28]:
import pandas as pd
import numpy as np

In [24]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015")
date

Timestamp('2015-07-04 00:00:00')

In [25]:
date.strftime('%A')

'Saturday'